---
import { Picture } from "astro:assets";
import type { Props as ButtonProps } from "./Button.astro";
import Button from "./Button.astro";
import { Icon } from "astro-icon/components";

interface Props {
	title: string;
	header?: string | { icon: string } | undefined;
	image: ImageMetadata;
	imageSide?: "left" | "right";
	button?: ButtonProps | false;
	first: boolean;
	breakOut?: "left" | "right" | false;
	titleColor?: string;
	bg?: string;
}
const {
	title,
	image,
	header,
	imageSide = "left",
	button,
	first = false,
	breakOut = false,
	titleColor = "text-text-primary",
	bg = "bg-white",
} = Astro.props;
---

<section class={`${bg} w-screen`}>
	<div
		class={`${bg} mx-auto max-w-7xl ${first ? "pt-24 sm:pt-28" : "pt-8 sm:pt-16"} overflow-clip 2xl:overflow-visible`}
	>
		<div
			class={`md:flex items-center md:items-end ${imageSide === "left" ? "flex-row-reverse" : ""}`}
		>
			<div
				class={`md:w-2/3 h-full px-4 ${
					imageSide === "right" ? "sm:ml-6 md:pl-8 md:pr-4" : "sm:mr-6 md:pr-8 md:pl-4"
				} flex flex-col justify-between gap-4 sm:gap-8`}
			>
				<div>
					{
						typeof header === "string" ? (
							<p
								class={`${bg === "bg-background-dark" ? "text-text-dark-mute" : "text-text-secondary"} mb-4 w-fit border-b border-b-gray-400 text-lg font-semibold tracking-wide uppercase sm:text-xl/10`}
							>
								{header}
							</p>
						) : (
							header && <Icon name={header.icon} size="72" />
						)
					}
					{
						first ? (
							<h1 class={`${titleColor}`}>{title}</h1>
						) : (
							<h2 class={`${titleColor}`}>{title}</h2>
						)
					}
				</div>

				<slot />
				{
					button && button.link && (
						<Button
							link={button.link}
							buttonText={button.buttonText}
							class="w-72"
						/>
					)
				}
			</div>
			<div
				class={`${breakOut === "right" ? "break-right md:w-full" : breakOut === "left" ? "break-left" : "w-1/2"} mx-auto mt-4 md:mt-2`}
			>
				<Picture
					src={image}
					alt={title || ""}
					sizes="(max-width: 640px) 100vw, 400w"
					formats={["avif", "webp"]}
					fallbackFormat="png"
					widths={[400, 800, 1200, image.width]}
					class="h-full w-full rounded-lg object-contain"
				/>
			</div>
		</div>
	</div>
</section>
